<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card *ngIf="!isLoading" fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center"
      >Time to start a Work out!</mat-card-title
    >
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field appearance="fill">
        <mat-label>Select a type of exercises</mat-label>
        <mat-select #exerciseTypeSelect>
          <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
            {{ exercise.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button
        (click)="onStartTraining(exerciseTypeSelect.value)"
        [disabled]="!exerciseTypeSelect.value"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Start
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</section>
