<mat-toolbar color="primary">
  <div fxHide.gt-xs class="mobile-menu-toggle">
    <button (click)="onToggleSidenav()" mat-mini-fab color="basic">
      <mat-icon color="primary">menu</mat-icon>
    </button>
  </div>

  <div>
    <a
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home page
    </a>
  </div>

  <nav fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="20px">
      <ng-template [ngIf]="isAuth">
        <li routerLink="training" routerLinkActive="active">
          <a>Training</a>
        </li>
        <li (click)="onLogout()" style="cursor: pointer; color: #ccc">Log out</li>
      </ng-template>
      <ng-template [ngIf]="!isAuth">
        <li routerLink="signup" routerLinkActive="active">
          <a>Sign up</a>
        </li>
        <li routerLink="login" routerLinkActive="active">
          <a>Log in</a>
        </li>
      </ng-template>
    </ul>
  </nav>
</mat-toolbar>
