<mat-toolbar color="primary">
  <div fxHide.gt-xs class="mobile-menu-toggle">
    <button (click)="onToggleSidenav()" mat-mini-fab color="basic">
      <mat-icon color="primary">menu</mat-icon>
    </button>
  </div>

  <div>
    <a
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home page
    </a>
  </div>

  <nav fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="20px">
      <li
        *ngFor="let link of navLinks"
        [routerLink]="link.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a>{{ link.label }}</a>
      </li>
    </ul>
  </nav>
</mat-toolbar>
