<section>
  <form
    (ngSubmit)="onSubmit()"
    fxLayout="column"
    fxLayoutGap="6px"
    fxLayoutAlign="center center"
    #signupForm="ngForm"
  >
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        name="email"
        required
        email
        ngModel
        #email="ngModel"
      />
      <mat-error *ngIf="email.hasError('email')">Invalid Email!</mat-error>
      <mat-error *ngIf="email.hasError('required')">
        Email is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        name="password"
        required
        minlength="6"
        ngModel
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}$"
        #password="ngModel"
      />
      <mat-error *ngIf="password.hasError('pattern')">pattern is wrong!</mat-error>
      <mat-error *ngIf="password.hasError('required')">
        Password is required!
      </mat-error>
      <mat-error *ngIf="password.hasError('minlength')">
        Min password length - 6 characters!
      </mat-error>
    </mat-form-field>

    <mat-checkbox name="agreement" ngModel required>
      Agree to terms and conditions.
    </mat-checkbox>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="signupForm.invalid"
    >
      Submit
    </button>
  </form>
</section>
